body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-right:30px;
    margin-left: 30px;

}
.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 1000;
    margin-bottom: 30px;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 220px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#div {
    position: relative;
    text-align: center;
}

#div img {
    width: 100%;
    display: block;
}

#div h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
}

#div p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#div a {
    text-decoration: none;
}

#div a:hover {
    border-bottom: 1px solid white;
}

#KnowUs{
    position: relative;
    margin: 0;
}

.container{
    background-color: rgb(48, 48, 112);
    padding: 20px;
    color: white;
    text-align: left;
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: azure;
}
a:hover{
    color: burlywood;
}
.images-text{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 30px;
}
